@font-face {
    font-family: 'JetBrains Mono';
    src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('./fonts/JetBrainsMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.--font-jetbrains-mono {
    font-family: 'JetBrains Mono', serif;
}

.--font-inter {
    font-family: 'Inter', sans-serif !important;
}
body {
    font-family: 'Inter', sans-serif;
}